
	<div class="profile">
<% @businesses.each do |business| %>
			
				<img src='<%=image_path("#{business.image_location}") %>' class="hover"/>
				<!-- <p id="<%=business.id%>"><%=business.name %></p> -->
	
<% end  %> 
	</div>

		<script>
			$('.hover').mouseover(function(){
		    	$('this').css('visibility', 'visible')
		    	console.log(this)
			});
			$('.hover').mouseout(function(){
				$('p').css('visibility', 'hidden')
			})
		</script>



