<div class="container">
	<div class="row"  style="font-family: 'milkshake">
		<h1> P.N.P. Review </h1>
	<h2>Welcome</h2>

		<div class="row"
		<p><h3> Our Mission:</h3>
	 	</div>	
 	</div>
 	<div class="row"> 
	 	<p>There are many ways that businesses show that they care...and other ways they show us they dont give a crap. The PnP Review is brought to you by a young lady that you could say is a bit overly committed to reporting on the State of U.S. bathrooms. </p>


	<%= link_to "Get Started", businesses_path %>
	</div>		
</div>